@import '../../assets/styles/vars';

.app {
  margin: 2vw auto;
  text-align: center;
  width: 80vw;
}

.title {
  color: $black;
  font-size: 3rem;
  margin: 0.67em 0;
}

.box {
  display: flex;
  justify-content: center;
}

.board {
  // flex: $flex;
}

.panel {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  margin-left: 3vw;
  align-items: center;

  .row-btn {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  .btn {
    margin-right: 0.77vw;
    margin-top: 4vw;
  }

  img {
    margin-bottom: -0.35vw;
    width: 2.1vw;
  }

}

